{% extends "template.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block pageTitle %}
  What do you want to do? - Find a court or tribunal - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/search-option"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="POST" action="/service-choose-action">
          {{ govukRadios({
            idPrefix: "action",
            name: "action",
            fieldset: {
              legend: {
                text: "What do you want to do?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "nearest",
                text: "Find the nearest court or tribunal"
              },
              {
                value: "documents",
                text: "Find a court or tribunal to send documents to"
              },
              {
                value: "update",
                text: "Contact a court or tribunal to get an update on your application"
              },
              {
                divider: "or"
              },
              {
                value: "not-listed",
                text: "It is not listed here"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %} 