{% extends "govuk/template.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% block head %}
  <link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">
{% endblock %}

{% block header %}
  {% set html %}
    <p class="govuk-body">{{ cookieBannerP1 | safe }}</p>
    <p class="govuk-body">{{ cookieBannerP2 }}</p>
  {% endset %}

  {% set acceptHtml %}
    <p class="govuk-body">You’ve accepted additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set rejectHtml %}
    <p class="govuk-body">You’ve rejected additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

  {{ govukHeader({
      containerClasses: "govuk-width-container",
      serviceName: serviceName | safe,
      serviceUrl: (globals.basePath if globals.basePath) + "/",
      useTudorCrown: true
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
      tag: { text: "beta" },
      html: feedback + languageToggle
    })
  }}
  <a href="/" class="govuk-back-link" onclick="goBack(event);">{{ backLink }}</a>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/javascripts/govuk-frontend.min.js'
    initAll()
  </script>

{% endblock %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}




