{% extends "index.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/know-the-name" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {{ govukRadios({
          idPrefix: "whatDoYouWantToDo",
          name: "whatDoYouWantToDo",
          fieldset: {
            legend: {
              text: whatDoYouWantToDo,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errors.whatDoYouWantToDo and {
            text: errors.whatDoYouWantToDo.msg
          },
          items: [
            {
              value: "findNearestCourt",
              text: findNearestCourt,
              checked: whatDoYouWantToDo === "findNearestCourt"
            },
            {
              value: "findCourtSendDocuments",
              text: findCourtSendDocuments,
              checked: whatDoYouWantToDo === "findCourtSendDocuments"
            },
                        {
              value: "contactCourtTribunal",
              text: contactCourtTribunal,
              checked: whatDoYouWantToDo === "contactCourtTribunal"
            },
                {
      divider: dividerText
    },
                        {
              value: "notListed",
              text: notListed,
              checked: whatDoYouWantToDo === "notListed"
            }
          ]
        }) }}

        {{ govukButton({
          text: continueButton,
          type: "submit"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}