{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ name }}</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body">
        <p>{{ description }}</p>
        <h3 class="govuk-heading-m">Addresses</h3>
        {% for address in addresses %}
          <p>
            {% for line in address.address_lines %}
              {{ line }}<br />
            {% endfor %}
            {{ address.town }}<br />
            {{ address.postcode }}
          </p>
        {% endfor %}
        {% if info %}
          <h3 class="govuk-heading-m">Additional information</h3>
          <p>{{ info | safe }}</p>
        {% endif %}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">
        <img src="{{ image_file }}" alt="{{ name }}" class="govuk-!-width-full">
        <p class="govuk-caption-m">{{ name }}</p>
      </div>
    </div>
  </div>
{% endblock %}
